<footer class="bg-light text-dark pt-5">
	<div class="position-relative row">
		<div class="container col">
			<h1>General Enquiries</h1>
			<p>Hotline: (+65) 7189 6363 </p>
		</div>
		<div class="container col">
			<h2>Support</h2>
			<p>Hotline: (+65) 7189 6565 </p>
			<p>Email: graphingdoneright@gmail.com</p>
		</div>
		<div class="container col">
			<h1>Feedback</h1>
			<!-- Redirects to home page as there is currently no feedback page -->
			<a href="/">Click Here</a>
		</div>
	</div>
</footer>
