<nav class="navbar navbar-expand-lg bg-blueBg navbar-dark">
	<div class="container">
		<a href="/" class="navbar-brand">GDR</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navmenu">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a href="/payment_form" class="nav-link">Payment</a></li>
				<li class="nav-item"><a href="/skills_form" class="nav-link">Skills</a></li>
				<li class="nav-item"><a href="/attrition_form" class="nav-link">Attrition</a></li>
                <li class="nav-item"><a href="/demographics_form" class="nav-link">Demographics</a></li>
			</ul>
		</div>
	</div>
</nav>
